

/*
--------------------------------
   VARIABLES
--------------------------------
*/

body {
    --fontMain:    'Lato';
    --fontHero:    'Lalezar';
    --fontHeading: 'Lekton';

    --colMain:   #000000;
    --colHead:   #00BDF9;
    --colHover:  #0091be;
    --colBorder: #b723ba;

    --borHero: 0.4em;

    font-family: var(--fontMain);
    margin: 2em;
}


/*
--------------------------------
   FONTS 
--------------------------------
*/

/*
   web font with chevron -------------------
*/

.icon_expand-down:before {
    content: "\e900";
}

[class^="icon_"] {
    font-family: 'icomoon' !important; /* !important to prevent issues with browser extensions that change fonts */
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


/*
   fonts -------------------
*/

h1 + p {
    font-family: var(--fontMain);
    font-weight: 300;
}

#promo-offer h2 + p {
    font-family: var(--fontHero);
}

h3 {
    font-family: var(--fontHeading);
}

/*
--------------------------------
   LAYOUT
--------------------------------
*/

/*
   4 screen reader only -------------------
*/


h1, 
[class^=icon] > span,
#promo-offer h2 {
    position:absolute;
    left:-999em;
}

/*
   page-header -------------------
*/

#page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: auto;
}

#page-header p {
    margin-bottom: 1em;
    font-size: min(1.4rem, 3.5vw);
    letter-spacing: min(0.4rem, 1.2vw);
}

#page-header img {
    width: 100%;
    height: auto;
}

#page-header nav {
    padding: min(0.5em, 1vw);
    font-size: min(1.25em, 3.5vw);
    text-transform: uppercase;
}

#page-header ul {
    display: flex;
}

#page-header li {
    padding: 1em;
}

#page-header a {
    text-decoration: none;
    color: var(--colMain);
}

#page-header a:hover {
    color: var(--colHover);
    font-weight: bold;
}


/*
   main -------------------
*/

main article:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#promo-offer {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    border: var(--colBorder) min(var(--borHero), 1vw) solid ;
    border-radius: min(80px, 6vw);
    padding: min(2em, 4vw);
    width: min(680px, 98%);
}

#promo-offer h2 + p {
    font-size: min(5rem, 10vw);
    color: var(--colHead)
}

#promo-offer p:last-child {
    font-size: min(3.5rem, 8vw);
    color: var(--colBorder);
}

#offerings {
    display: flex;
}

#offerings article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    border: 1px solid black;
}

#offerings img {
    border-radius: 50%;
    width: 90%;
    max-width: 300px;
    height: auto;
}

/*
   footer -------------------
*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

footer img {
    width: 150px;
}


/*
   MQ -------------------
*/

@media only screen and (max-width: 450px) {
    #page-header p {
        text-transform: uppercase;
    }

    #promo-offer h2 + p {
        font-size: 8.5vw;
    }
}