

/*
--------------------------------
   VARIABLES
--------------------------------
*/

body {
    --fontMain:    'Lato';
    --fontHero:    'Lalezar';
    --fontHeading: 'Lekton';

    --colMain:   #000000;
    --colHead:   #00BDF9;
    --colHover:  #0091be;
    --colBorder: #b723ba;

    font-family: var(--fontMain);
    background-color: #706a6a;
    margin: 2em;
}

/*
--------------------------------
   FONTS 
--------------------------------
*/

/*
   web font with chevron -------------------
*/

.icon_expand-down:before {
    content: "\e900";
}

[class^="icon_"] {
    font-family: 'icomoon' !important; /* !important to prevent issues with browser extensions that change fonts */
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


/*
   fonts -------------------
*/

h1 + p {
    font-family: var(--fontMain);
    font-weight: 300;
}

#promo-offer h2 + p {
    font-family: var(--fontHero);
}

h3 {
    font-family: var(--fontHeading);
}

/*
--------------------------------
   LAYOUT
--------------------------------
*/

/*
   hero -------------------
*/

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, [class^=icon] > span {
    position:absolute;
    left:-999em;
}

#hero p {
    margin-bottom: 1em;
}

#hero img {
    width: 100%;
    height: auto;
}

#hero nav {
    padding: 1em;
}

#hero ul {
    display: flex;
}

#hero ul li {
    padding: 1em;
}