

/*
--------------------------------
   VARIABLES
--------------------------------
*/

body {
    --fontMain:    'Lato';
    --fontHero:    'Lalezar';
    --fontHeading: 'Lekton';

    --colMain:   #000000;
    --colHead:   #00BDF9;
    --colHover:  #0091be;
    --colBorder: #b723ba;

    font-family: var(--fontMain);
    background-color: #706a6a;
    margin: 2em;
}


/*
--------------------------------
   FONTS 
--------------------------------
*/

/*
   web font with chevron -------------------
*/

.icon_expand-down:before {
    content: "\e900";
}

[class^="icon_"] {
    font-family: 'icomoon' !important; /* !important to prevent issues with browser extensions that change fonts */
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


/*
   fonts -------------------
*/

h1 + p {
    font-family: var(--fontMain);
    font-weight: 300;
}

#promo-offer h2 + p {
    font-family: var(--fontHero);
}

h3 {
    font-family: var(--fontHeading);
}

/*
--------------------------------
   LAYOUT
--------------------------------
*/

/*
   4 screen reader only -------------------
*/


h1, 
[class^=icon] > span,
#promo-offer h2 {
    position:absolute;
    left:-999em;
}

/*
   page-header -------------------
*/

#page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-header p {
    margin-bottom: 1em;
}

#page-header img {
    width: 100%;
    height: auto;
}

#page-header nav {
    padding: 1em;
}

#page-header ul {
    display: flex;
}

#page-header ul li {
    padding: 1em;
}

/*
   main -------------------
*/

#promo-offer {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    text-transform: uppercase;
}

#offerings {
    display: flex;
}

#offerings article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    border: 1px solid black;
}

#offerings img {
    border-radius: 50%;
    width: 90%;
    max-width: 300px;
    height: auto;
}